@import './../../variables';

.message-basic {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  padding-top: 0.25rem;
  line-height: 1.1;
  min-height: 0.8rem;
}

.message {
  @extend .message-basic;
  &-error {
    color: $color-error;
  }
  &-success {
    color: $color-success;
  }
}

.message-block {
  @extend .message-basic;
  padding: 1.5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: transform .5s, visibility .5s, opacity .5s;
  white-space: nowrap;
  overflow: hidden;
  transform: translate(0%, 50%);
  transition-delay: 2s;
  &-error {
    background-color: $background-color-error;
    border-left: $color-error 3px solid;
    color: $color-error;
  }
  &-success {
    background-color: $background-color-success;
    border-left: $color-success 3px solid;
    color: $color-success;
  }
}

.message-block-transition {
  transition: transform .5s, visibility .5s, opacity .5s;
  opacity: 1;
  visibility: visible;
  width: 100%;
  transform: translate(0%, 0%);
}

@media only screen and (min-width: 40rem) {
  .message-block {
    position: absolute;
    width: auto;
    bottom: 0;
    right: 0;
    transform: translate(50%, 0%);
  }

  .message-block-transition {
    transform: translate(-0%, 0%);
    width: auto;
    bottom: 0;
    right: 0;
  }
}



.text-block {
  font-family: 'Open Sans';
  margin: 0;
  color: $primary-text-color;
}

