@import './../../variables';

.message-basic {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  //padding-top: 0.25rem;
  line-height: 1.5;
  min-height: 0.8rem;
}

.message {
  @extend .message-basic;
  &-error {
    color: $color-error;
  }
  &-warning {
    color: $color-warning;
  }
  &-success {
    color: $color-success;
  }
}


.message-flat {
  @extend .message-basic;
  padding-left: 0.25rem;
  &-error {
    color: $color-error;
    background-color: $background-color-error;
  }
  &-warning {
    color: $color-warning;
    background-color: $background-color-warning;
  }
  &-success {
    color: $color-success;
    background-color: $background-color-success;
  }
}

.message-block {
  @extend .message-basic;
  padding: 1.5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transform: translate(0%, 50%);
  animation-name: messageBlock;
  animation-duration: 3.5s;
  //animation-play-state: paused;
  &-error {
    background-color: $background-color-error;
    border-left: $color-error 3px solid;
    color: $color-error;
  }
  &-warning {
    background-color: $background-color-warning;
    border-left: $color-warning 3px solid;
    color: $color-warning;
  }
  &-success {
    background-color: $background-color-success;
    border-left: $color-success 3px solid;
    color: $color-success;
  }
}

@keyframes messageBlock {
  0%, 100%  {
    opacity: 0;
    visibility: hidden;
    width: 100%;;
    transform: translate(0%, 50%);
  }
  25%, 50%, 75% { 
    opacity: 1;
    visibility: visible;
    width: 100%;
    transform: translate(0%, 0%);
  }
}

@media only screen and (min-width: 40rem) {
  .message-block {
    position: absolute;
    width: auto;
    min-width: 15rem;
    transform: translate(50%, 0%);
    top: 0;
    bottom: auto;
    white-space: nowrap;
    animation-duration: 3.5s;
    &-success {
      border: none;
      border-right: $color-success 3px solid;
    }
  }

  @keyframes messageBlock {
    0%, 100%   {
      opacity: 0;
      visibility: hidden;
      width: auto;
      transform: translate(50%, 0%);
    }
    25%, 50%, 75%  { 
      opacity: 1;
      visibility: visible;
      width: auto;
      transform: translate(0%, 0%);
    }
  }
}

.text-block {
  font-family: 'Open Sans';
  margin: 0;
  color: $primary-text-color;
}
