@import './../../variables';

.active {
  display: block;
}

.notactive {
  display: none;
}

.edit {
  margin-top: 1rem;
  width: 100%;
  & > * {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: white;
    color: #8f7e9a;
    display: block;
    cursor: pointer;
    &:hover, &:active {
      background-color: darken($secondary-text-color, 30%);
    }
  }
}

.progress {
  margin-bottom: 2rem;
  position: relative;
  &-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    border-bottom: solid 1px $secondary-color;
    padding-bottom: 0.25rem;
    &:hover {
      background-color: lighten($secondary-color, 10%);
      cursor: pointer;
    }
    &-header {
      height: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $secondary-text-color;
    }
  }
  &-header {
    color: darken($secondary-text-color, 10%);
    padding-top: 0.15rem;
    padding-bottom: 0.1rem;
    border-bottom: 0.2rem solid $secondary-text-color;
    > div {
      display: flex;
      justify-content: space-between;
      > span {
        letter-spacing: 0.075rem;
       font-weight: bold;
        padding: 1rem 0.5rem 0.75rem 0.5rem;
        line-height: 1.25;
        border-bottom: 1px solid transparent;
      }
    }
  }
  &-addprogress {
    outline:none;
    color: $primary-color;
    background-color: white;
    border: none;
    font-weight: normal;
    cursor: pointer;
    &:hover {
      cursor: pointer;
      color: lighten($primary-color, 10%);
    }
  }
}

@media screen and (min-width: 40rem) {
  .participant-progress-notification-error {
    top: 3.125rem;
  }

  .progress {
    &-item {
      &:hover {
        background-color: white;
        cursor: auto;
      }
    }
  }

  .edit {
    position: absolute;
    top: 0;
    right: 0rem;
    margin-top: 1rem;
    width: max-content;

    & > * {
      display: inline-block;
      font-size: 1.5rem;
      padding: 0.25rem 0.25rem 0.25rem 0.25rem;
      background-color: white;
      cursor: pointer;
      &:hover, &:active {
        color: darken($secondary-text-color, 30%);
        background-color: white;
      }
    }
    &-text {
      display: none;
    }
  }
}