$primary-color: hsl(275, 100%, 25%);
$primary-background-color: hsl(275, 100%, 95%);
$primary-text-color: hsl(275, 12%, 18%);

$secondary-color: hsl(275, 12%, 80%);
$secondary-text-color:hsl(275, 12%, 55%);

$color-success: hsl(150, 100%, 20%);
$color-warning: hsl(30, 100%, 35%);
$color-error: hsl(5, 100%, 32%);
$background-color-success: hsl(149, 60%, 83%);
$background-color-warning: hsl(30, 70%, 83%);
$background-color-error: hsl(5, 60%, 83%);

$paragraph-line-height: 1.75;
