@import './variables';
.Header {
  position: fixed;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
  background-color: white;
  z-index: 2;
  width: 100%;
  margin-bottom: 5rem;
}

.App {
  display: grid;
  justify-items: center;
  padding: 0 0.75rem 0 0.75rem;
  > section {
    margin-top: 5rem;
    max-width: 960px;
    width: 100%;
    line-height: $paragraph-line-height;
    color: $primary-text-color;
    font-size: 0.8rem;
    margin-bottom: 5rem;
    position: relative;
    overflow-x: hidden;
  }
}

.hideondesktop {
  display: inline-block;
}

.hideonmobile {
  display: none;
}

@media only screen and (min-width: 40rem) {
  .Header {
   position: relative;
   box-shadow: none;
   margin-bottom: 1rem;
   border-bottom: 0.5px solid $secondary-color;
  }

  .hideonmobile {
    display: inline-block;
  }

  .hideondesktop {
    display: none;
  }
  .App {
    position: relative;
    > section {
      margin-top: 0rem;
      font-size: 0.9rem
    }
  }

}

@media only screen and (min-width: 60rem) {

}
